colorRosa {
  color: #fb8989;
}

.card-group {
  margin-top: 1px;
  margin-bottom: 10px !important;
  border-radius: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  /* z-index: 1; */
}
.card-group:hover {
  box-shadow: rgb(58, 83, 109) 0px 20px 30px -10px !important;
}
.card {
  border: none;
}

.card-img-top {
  max-width: 60%;
}

/*** ESTILOS BOTÓN GROW SKEW ***/

.forma2 {
  height: 10px !important;
  margin-top: 5px;
}

.invertirSentido {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #fb8989;
}

.origenInput {
  padding: 0;
  border: none !important;
  display: flex;
}
.invertirDestino {
  border-radius: 5px;
  width: 40%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10% !important;
  position: relative;
  z-index: 100;
  left: 2%;
  background-color: #fb8989;
}

.origenIcono {
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  left: 2%;
}

.botonBuscarPasajes {
  border-radius: 5px;
  height: 130%;
  position: relative;
  top: -22%;
  background-color: #fb8989;
  font-size: large;
}
/*INICIA MODO TELEFONO*/
@media (min-width: 300px) and (max-width: 380px) {
  #menuMovil {
    background-color: #009ee2;
  }

  .origenPasaje {
    margin-bottom: 2px;
    width: 155% !important;
    left: -100% !important;
  }

  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  .swiper-container {
    position: relative;
    top: 150px;
  }
  .botonBuscarPasajes {
    top: 5%;
    left: -3%;
    width: 101%;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 15%;
    margin-bottom: 1%;
  }
  .pasajero {
    position: relative;
    left: 1% !important;
    width: 100% !important;
  }
  .idayVuelta {
    position: relative;
    left: 5% !important;
    width: 100% !important;
  }

  .swiper-slide {
    width: 50%;
    background-position: 40% -20%;
  }
  .swiper-slideA {
    width: 100%;
    height: 90% !important;
  }
  .contenedor-texto {
    /* margin-top: 15% !important; */
    height: 100%;
    /* width: -50% !important; */
  }
  .maleta {
    font-size: small;
  }
  .section .parallax-content {
    margin-top: 15%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    width: -200% !important;
  }
  /*barra busqueda*/
  .forma {
    margin-top: -0.5% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    display: flow-root !important;
    /* height: 80% !important; */

    padding: 20% !important;
    font-size: 80% !important;
    margin-top: -25% !important;
  }
  .section {
    height: 20% !important;
    max-height: 100% !important;
  }

  .box-icon-classic-text {
    font-size: x-small;
  }
  h5 {
    font-size: small;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 36%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 28%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: x-small;
  }
  .col-md-10 {
    width: 150% !important;
    max-width: 300% !important;
    margin-left: -60% !important;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 200% !important;
    max-width: 200%;
  }
  .contenedor-texto {
    margin-right: 20% !important;
    height: 100%;
    width: -50% !important;
    margin-top: 30% !important;
  }
  .parallax-container {
    width: 118%;
    margin-left: -8% !important;
    margin-top: -40% !important;
  }
  .nuestrosServicios .row-30 {
    font-size: xx-large !important;
  }
  #buscar_pasajes {
    left: -2% !important;
  }
}
@media (min-width: 381px) and (max-width: 430px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    margin-bottom: 2px;
    width: 155% !important;
    left: -100% !important;
  }

  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  .swiper-container {
    position: relative;
    top: 150px;
  }
  .botonBuscarPasajes {
    top: 5%;
    left: -2%;
    width: 100%;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 10%;
    margin-bottom: 1%;
  }
  .pasajero {
    position: relative;
    left: -115% !important;
  }
  .idayVuelta {
    position: relative;
    left: 148% !important;
  }
  .collapse1 {
    margin-top: 10%;
    display: flex;
    margin-left: 20% !important;
    height: 100% !important;
  }
  .swiper-slide {
    width: 150%;
    background-position: 40% -20%;
  }
  .swiper-slideA {
    width: 200%;
    height: 90% !important;
    background-position: 20% -20%;
  }
  .contenedor-texto {
    margin-top: 15% !important;
    height: 100%;
    /* width: -50% !important; */
  }
  .maleta {
    font-size: small;
  }
  .section .parallax-content {
    margin-top: 15%;
  }
  .col-md-10 {
    width: 130%;
    left: -35%;
  }
  #buscar_pasajes {
    left: -2% !important;
  }
  .nuestrosServicios .row-30 {
    display: flow-root !important;
    padding: 20% !important;
    font-size: 80% !important;
    margin-top: -25% !important;
  }
  /*barra busqueda*/
  .forma {
    margin-top: 13% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  .section {
    height: 20% !important;
    max-height: 100% !important;
  }
  .box-icon-classic-text {
    font-size: x-small;
  }
  h5 {
    font-size: small;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 30%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 26%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: small;
  }
  .contenedor-texto img {
    margin-top: 30% !important;
    margin-left: -10% !important;
    width: 180% !important;
    max-width: 200%;
  }
  .contenedor-texto {
    margin-right: 15% !important;
    height: 100%;
    width: -50% !important;
  }
  .parallax-container {
    width: 120%;
    margin-left: -8% !important;
  }
}
@media (min-width: 431px) and (max-width: 480px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    margin-bottom: 2px;
    width: 155% !important;
    left: -100% !important;
  }

  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  .swiper-container {
    position: relative;
    top: 150px;
  }
  .botonBuscarPasajes {
    top: 5%;
    left: -2%;
    width: 100%;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 10%;
    margin-bottom: 1%;
  }
  .pasajero {
    position: relative;
    left: -115% !important;
  }
  .idayVuelta {
    position: relative;
    left: 148% !important;
  }
  .collapse1 {
    margin-top: 10%;
    display: flex;
    margin-left: 20% !important;
    height: 100% !important;
  }
  .swiper-slide {
    width: 150%;
    background-position: 40% -20%;
  }
  .swiper-slideA {
    width: 200%;
    height: 90% !important;
    background-position: 20% -20%;
  }
  .contenedor-texto {
    margin-top: 15% !important;
    height: 100%;
    /* width: -50% !important; */
  }
  .maleta {
    font-size: small;
  }
  .section .parallax-content {
    margin-top: 15%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    width: -200% !important;
  }
  /*barra busqueda*/
  .forma {
    margin-top: 11% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  .box-icon-classic-text {
    font-size: x-small;
  }
  h5 {
    font-size: small;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 30%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 26%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: small;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 170% !important;
    max-width: 170%;
  }
  .contenedor-texto {
    margin-right: 20% !important;
    height: 100%;
    width: -50% !important;
  }
  .parallax-container {
    width: 120%;
    margin-left: -8% !important;
  }
}
@media (min-width: 481px) and (max-width: 540px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    margin-bottom: 2px;
    width: 155% !important;
    left: 100% !important;
  }

  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  .swiper-slide-caption {
    margin-top: -9%;
  }

  .swiper-container {
    position: relative;
    top: 150px;
  }
  .botonBuscarPasajes {
    top: 5%;
    left: -1%;
    width: 101%;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 10%;
    margin-bottom: 1%;
  }
  .pasajero {
    position: relative;
    left: -115% !important;
  }
  .idayVuelta {
    position: relative;
    left: 220% !important;
  }
  .collapse1 {
    margin-top: 10%;

    height: 80% !important;
  }
  .swiper-slide {
    width: 175%;
    background-position: 40% -20%;
  }
  .swiper-slideA {
    width: 250%;
    height: 85% !important;
    background-position: 20% -20%;
  }
  .contenedor-texto {
    margin-top: 15% !important;
    height: 100%;
    width: -50% !important;
  }
  .maleta {
    font-size: medium;
  }
  .section .parallax-content {
    margin-top: 15%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    /* padding: 10% !important; */
    font-size: 60% !important;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
  }
  /*barra busqueda*/
  .forma {
    margin-top: 10% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /* .unit-left {
    
  } */
  .box-icon-classic-text {
    font-size: x-small;
  }
  h5 {
    font-size: small;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 30%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 26%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: small;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 170% !important;
    max-width: 170%;
  }
  .contenedor-texto {
    margin-right: 20% !important;
    height: 100%;
    width: -50% !important;
  }
  .parallax-container {
    width: 120%;
    margin-left: -8% !important;
  }
}
@media (min-width: 541px) and (max-width: 579px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    margin-bottom: 2px;
    width: 155% !important;
    left: 100% !important;
  }
  .swiper-slide-caption {
    margin-top: -9%;
  }
  .botonBuscarPasajes {
    position: relative;
    top: 2px;
    left: -0.5%;
    width: 101%;
  }
  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 10%;
    margin-bottom: 1%;
  }
  .swiper-container {
    position: relative;
    top: 120px;
  }
  .pasajero {
    position: relative;
    left: -111% !important;
  }
  .idayVuelta {
    position: relative;
    left: 260% !important;
  }
  .collapse1 {
    margin-top: 10%;

    height: 80% !important;
  }
  .swiper-slide {
    width: 145%;
    margin-top: 2%;
  }
  .swiper-slideA {
    width: 250%;
    height: 85% !important;
  }
  .contenedor-texto {
    margin-top: 15% !important;

    height: 100%;
    width: -50% !important;
  }
  .section .parallax-content {
    margin-top: 15%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 10% !important;
    font-size: 65% !important;
    margin-top: -10%;
    margin-left: 1%;
    margin-right: 1%;
  }
  /*barra busqueda*/
  .forma {
    margin-top: -1% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 30%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 26%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: large;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 140% !important;
    max-width: 150%;
  }
  .contenedor-texto {
    margin-right: 10% !important;
    height: 100%;
    width: -50% !important;
  }
  .parallax-container {
    width: 120%;
    margin-left: -8% !important;
  }

  .android {
    box-sizing: border-box !important;
  }
}
@media (min-width: 580px) and (max-width: 720px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    display: flex;
    margin-bottom: 3px;
    width: 155% !important;
  }
  .swiper-slide-caption {
    margin-top: -9%;
  }
  .botonBuscarPasajes {
    position: relative;
    top: 2px;
    left: 109%;
    width: 101%;
  }
  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 8%;
    margin-bottom: 1%;
  }
  .swiper-container {
    position: relative;
    top: 120px;
  }
  .pasajero {
    position: relative;
    left: -115% !important;
  }
  .idayVuelta {
    position: relative;
    left: 265% !important;
  }

  .collapse1 {
    margin-top: 1%;

    height: 80% !important;
  }
  .swiper-slide {
    width: 110%;
  }
  .swiper-slideA {
    width: 110%;
    height: 85% !important;
  }

  .maleta {
    font-size: large;
  }
  .section .parallax-content {
    margin-top: 15%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 10% !important;
    font-size: 65% !important;
    margin-top: -10%;
    margin-left: 1%;
    margin-right: 1%;
  }
  /*barra busqueda*/
  .forma {
    margin-top: 6% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 22%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 20%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: large;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 200% !important;
  }
  .contenedor-texto {
    /* border: 1px solid red !important; */
    margin-top: 8% !important;
    /* margin-bottom: 10%; */
    /* padding-top: 5%; */
    height: 100%;
    width: -50% !important;
    /* padding: 10%; */
  }
}
@media (min-width: 721px) and (max-width: 890px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    display: flex;
    margin-bottom: 3px;
    width: 155% !important;
  }
  .botonBuscarPasajes {
    position: relative;
    top: 2px;
    left: 107%;
    width: 101%;
  }
  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 6%;
    margin-bottom: 1%;
  }
  .swiper-container {
    position: relative;
    top: 120px;
  }
  .pasajero {
    position: relative;
    left: -115% !important;
  }
  .idayVuelta {
    position: relative;
    left: 303% !important;
  }

  .swiper-slide-caption {
    margin-top: -20%;
  }
  #carrouselFotos {
    margin-top: 11%;
    max-height: 500px;
  }
  .collapse1 {
    margin-top: 1%;

    height: 80% !important;
  }
  .swiper-slide {
    width: 110%;
  }
  .swiper-slideA {
    width: 110%;
    height: 85% !important;
    background-position: 0% 65%;
  }
  .carousel-item {
    margin-top: 9%;
    padding: 5%;
  }
  .maleta {
    font-size: x-large;
  }
  .contenedor-texto {
    padding-top: 8%;
    margin-top: -1% !important;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 10% !important;
    font-size: 75% !important;
    margin-top: -10%;
    margin-left: 1%;
    margin-right: 1%;
    /* height: -500% !important; */
    /* display: inline-flex; */
    /* justify-content: left !important; */
  }
  .section .parallax-content {
    margin-top: 10%;
  }
  /*Carousel completo, maleta es el texto e img son las imagenes*/
  .carousel-item {
    margin-top: 7.5%;
    padding-top: 10%;
  }
  .contenedor-texto {
    margin-top: 0% !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: x-large;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 100% !important;
  }
  .section .parallax-content {
    margin-top: 5%;
  }

  /*barra busqueda*/
  .forma {
    margin-top: 6.3% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 18%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 16%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
}
@media (min-width: 891px) and (max-width: 991px) {
  #menuMovil {
    background-color: #009ee2;
  }
  .origenPasaje {
    display: flex;
    margin-bottom: 3px;
    width: 155% !important;
  }
  .swiper-slide-caption {
    margin-top: -9%;
  }
  .botonBuscarPasajes {
    position: relative;
    top: 2px;
    left: 106.5%;
    width: 101%;
  }
  .invertirDestino {
    position: relative;
    left: 0px !important;
    background-color: #fb8989;
  }
  #buscador {
    position: relative;
    top: 4.5% !important;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .swiper-container {
    position: relative;
    top: 120px;
  }
  .pasajero {
    position: relative;
    left: -110% !important;
  }
  .idayVuelta {
    position: relative;
    left: 360% !important;
  }
  .swiper-slide-caption {
    margin-top: -20%;
  }
  #carrouselFotos {
    margin-top: 10%;
    max-height: 500px;
  }
  .collapse1 {
    margin-top: 2%;
    height: 80% !important;
  }
  /*Carousel completo, maleta es el texto e img son las imagenes*/
  .carousel-item {
    margin-top: 7.5%;
    padding: 5%;
  }
  .contenedor-texto {
    margin-top: 10% !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: xx-large;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 100% !important;
  }
  .section .parallax-content {
    margin-top: 5%;
  }

  /*barra busqueda*/
  .forma {
    margin-top: 5.7% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 16%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 14%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
}
@media (min-width: 992px) and (max-width: 1080px) {
  #menuMovil {
    background-color: #009ee2;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  #buscador {
    margin-top: -0.1% !important;
  }
  .forma {
    margin-top: 1.5% !important;
  }
  .origenPasaje {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
  }
  #buscar_pasajes {
    position: relative;
    left: 80%;
  }
  .botonBuscarPasajes {
    position: relative;
    top: -30%;
    left: 70%;
    width: 120% !important;
  }
  .invertirDestino {
    position: relative;
    left: -40% !important;
    background-color: #fb8989;
  }
  #buscador {
    position: relative;
    top: -10.5% !important;
    margin-top: -5%;
  }
  .swiper-container {
    position: relative;
    top: 120px;
  }
  .idayVuelta {
    position: relative;
    left: 390% !important;
  }
  .pasajero {
    position: relative;
    left: 145% !important;
  }
  .inputOrigen {
    width: 130px;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .list-custom-2 {
    margin-left: -20px;
  }
  .list-custom-2 li {
    display: inline-block;
    margin-left: 20px;
  }
  .isotope-condensed {
    padding: 0 0 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .isotope-condensed .row.row-condensed > [class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .isotope-condensed .row.row-condensed > [class*="col"] + [class*="col"] {
    margin-top: 25px;
  }
  .swiper-slide-caption {
    margin-top: -9%;
  }
  #carrouselFotos {
    margin-top: 0%;
    max-height: 500px;
  }
  .collapse1 {
    margin-top: 0%;

    height: 80% !important;
  }
  .swiper-slide {
    width: 110%;
  }
  .swiper-slideA {
    width: 120%;
    height: 100% !important;
    background-position: 0% 70%;
  }
  .contenedor-texto {
    padding: 5%;
  }
  .maleta {
    font-size: 65%;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;
    padding: 4%;
  }
  .section .contenedor-texto {
    border: 1px solid red !important;
    left: 10%;
    width: 50%;
    padding: 100% !important;
  }
  .section .parallax-content {
    margin-top: 5%;
  }
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  /*Carousel completo, maleta es el texto e img son las imagenes*/
  .carousel-item {
    margin-top: 7.5%;
    padding: 5%;
  }
  .contenedor-texto {
    margin-top: 10% !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: xx-large;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 100% !important;
  }
  .section .parallax-content {
    margin-top: 5%;
  }

  /*barra busqueda*/
  .forma {
    margin-top: 5.6% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 14%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 12%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
}
@media (min-width: 1081px) and (max-width: 1199px) {
  #menuMovil {
    background-color: #009ee2;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  .forma {
    margin-top: 1.6% !important;
  }
  #buscador {
    position: relative;
    top: -13% !important;
    margin-top: -10% !important;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 150px;
  }
  .botonBuscarPasajes {
    position: relative;
    left: 10px;
  }
  .cajasBuscador {
    margin-right: 40px;
  }
  .invertirDestino {
    position: relative;
    left: -40px !important;
  }
  .pasajero {
    position: relative;
    left: 226% !important;
  }
  .idayVuelta {
    position: relative;
    left: 520% !important;
  }
  .swiper-slide-caption {
    margin-top: -9%;
  }
  #carrouselFotos {
    margin-top: 8%;
    max-height: 500px;
  }
  .swiper-slide {
    width: 110%;
  }
  .swiper-slideA {
    width: 120%;
    height: 100% !important;
    background-position: 0% 70%;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;
    padding: 4%;
  }
  .section .contenedor-texto {
    border: 1px solid red !important;
    left: 10%;
    width: 50%;
    padding: 100% !important;
  }
  .section .parallax-content {
    margin-top: 5%;
  }
  .maleta {
    font-size: 70%;
  }
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  /*Carousel completo, maleta es el texto e img son las imagenes*/
  .carousel-item {
    margin-top: 7.5%;
    padding: 5%;
  }
  .contenedor-texto {
    margin-top: 10% !important;
  }
  /*texto del carousel*/
  .maleta {
    font-size: xx-large;
  }
  .contenedor-texto img {
    margin-top: -10% !important;
    margin-left: -10% !important;
    width: 100% !important;
  }
  .section .parallax-content {
    margin-top: 5%;
  }

  /*barra busqueda*/
  .forma {
    margin-top: 5.4% !important;
  }
  /*Nuestros servicios*/
  .container.nuestrosServicios {
    margin-top: 0%;
  }
  .nuestrosServicios .row-30 {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    padding: 9% !important;
    font-size: 80% !important;
    margin-top: -7%;
  }
  /*logos Muni*/
  .pantallaTelefono .imgMuni {
    width: 14%;
    margin-top: -28px !important;
  }
  .pantallaTelefono .imgSecre {
    width: 12%;
    margin-top: -30px !important;
  }
  /*Carrusel fotos*/
  section:nth-child(1) {
    background: white !important;
  }
  section:nth-child(2) {
    background: white !important;
  }
  section:nth-child(3) {
    background: white !important;
  }
  section:nth-child(4) {
    background: white !important;
  }
}
/*FINALIZA MODO TELEFONO*/
/*INICIA MODO PC*/
@media (min-width: 1200px) and (max-width: 1440px) {
  #buscador {
    position: relative;
    top: 13% !important;
    width: 100% !important;
    margin-top: 1%;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 150px;
  }
  .botonBuscarPasajes {
    position: relative;
    left: 10px;
  }
  .cajasBuscador {
    margin-right: 40px;
  }
  .invertirDestino {
    position: relative;
    left: -40px !important;
  }
  .pasajero {
    position: relative;
    left: 273% !important;
  }
  .swiper-slide-caption {
    margin-top: -9%;
    margin-left: 40%;
  }
  #carrouselFotos {
    margin-top: 8%;
    max-height: 400px;
  }
  .swiper-slide {
    width: 100%;
    background-size: 100% !important;
  }
  .swiper-slideA {
    width: 90% !important;
    height: 100% !important;
    background-position: 0% 55%;
  }
  .idayVuelta {
    position: relative;
    left: 591% !important;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;
    padding: 4%;
  }
  .section .contenedor-texto {
    position: relative;
    padding: 100% !important;
    margin-top: -50% !important;
    left: 10%;
    width: 50%;
  }
  .section .parallax-content {
    margin-top: 5%;
  }
}
@media (min-width: 1441px) and (max-width: 1500px) {
  .forma {
    margin-top: -0.1% !important;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  #buscador {
    position: relative;
    top: 1% !important;
    width: 100% !important;
    margin-top: 1.7%;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 150px;
  }
  .botonBuscarPasajes {
    position: relative;
    left: 10px;
  }
  .cajasBuscador {
    margin-right: 40px;
  }
  .invertirDestino {
    position: relative;
    left: -40px !important;
  }
  .pasajero {
    position: relative;
    left: 321% !important;
  }
  .idayVuelta {
    background-color: transparent;
    font-size: large;
    color: white;
    border: none;
    display: flex;
    justify-content: left !important;
    position: relative;
    top: 30px !important;
    left: 663% !important;
    border-bottom: 2px solid #fb8989;
  }
  #carrouselFotos {
    margin-top: 5%;
    max-height: 400px;
  }
  .swiper-slide-caption {
    margin-top: -10%;
    left: 10% !important;
  }
  .swiper-slide {
    width: 100%;
    background-position: 0% 38%;
  }
  .swiper-slideA {
    width: 80% !important;

    background-position: 0% 50%;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;
    padding: 4%;
  }
  .section .contenedor-texto {
    position: relative;
    padding: 100% !important;
    margin-top: -50% !important;
    left: 10%;
    width: 50%;
  }
  .section .parallax-content {
    margin-top: 5%;
  }
}
@media (min-width: 1501px) and (max-width: 1799px) {
  #buscador {
    top: 7% !important;
    margin-top: -0.7%;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 150px;
  }
  .botonBuscarPasajes {
    position: relative;
    left: 10px;
  }
  .cajasBuscador {
    margin-right: 40px;
  }
  .invertirDestino {
    position: relative;
    left: -40px !important;
  }
  .pasajero {
    position: relative;
    left: 353% !important;
  }
  .idayVuelta {
    background-color: transparent;
    font-size: large;
    color: white;
    border: none;
    display: flex;
    justify-content: left !important;
    position: relative;
    top: 30px !important;
    left: 710% !important;
    border-bottom: 2px solid #fb8989;
  }
  .table-custom-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-custom-responsive.table-bordered {
    border: 0;
  }
  #carrouselFotos {
    margin-top: 6%;
    max-height: 500px;
  }
  .swiper-slide-caption {
    margin-top: -20%;
  }
  .swiper-slide {
    width: 100%;
    background-position: 0% 38%;
  }
  .swiper-slideA {
    width: 80% !important;

    background-position: 0% 50%;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;
    padding: 4%;
  }
  .section .contenedor-texto {
    position: relative;
    padding: 100% !important;
    margin-top: -50% !important;
    left: 10%;
    width: 50%;
  }
}
@media (min-width: 1800px) and (max-width: 2160px) {
  #buscador {
    position: relative;
    top: 7.2% !important;
    margin-top: -0.7%;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 800% !important;
  }
  .pasajero {
    left: 385% !important;
  }
  .idayVuelta {
    background-color: transparent;
    font-size: large;
    color: white;
    border: none;
    display: flex;
    justify-content: left !important;
    position: relative;
    top: 30px !important;
    left: 756% !important;
    border-bottom: 2px solid #fb8989;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;
    padding: 4%;
  }
  .section .contenedor-texto {
    position: relative;
    padding: 100% !important;
    margin-top: -50% !important;
    left: 10%;
    width: 50%;
  }
  .maleta {
    font-size: 160%;
  }
  .nuestrosServicios {
    font-size: 150%;
    max-height: 10%;
    max-width: 80%;
  }
}
@media (min-width: 2161px) and (max-width: 2200px) {
  .forma {
    margin-top: 0.7% !important;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  #buscador {
    top: 7.2% !important;
    margin-top: -0.7%;
  }

  .inputOrigen {
    width: 250px;
  }
  .pasajero {
    left: 442% !important;
  }
  .swiper-slide-caption {
    margin-top: -20%;
  }
  .idayVuelta {
    background-color: transparent;
    font-size: large;
    color: white;
    border: none;
    display: flex;
    justify-content: left !important;
    position: relative;
    top: 30px !important;
    left: 848% !important;
    border-bottom: 2px solid #fb8989;
  }
  .carousel-item {
    height: 100%;
    width: 100%;
    margin-top: -5%;
    /* border-top-width: 50% !important; */
  }
  .maleta {
    font-size: 200%;
  }
  .nuestrosServicios {
    font-size: 190%;
    max-height: 10%;
    max-width: 80%;
  }
}
@media (min-width: 2201px) and (max-width: 2600px) {
  .forma {
    margin-top: 0.7% !important;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  #buscador {
    top: 7.2% !important;
    margin-top: -0.7%;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 250px;
  }
  .pasajero {
    left: 518% !important;
  }
  .swiper-slide-caption {
    margin-top: -10%;
  }
  .idayVuelta {
    background-color: transparent;
    font-size: large;
    color: white;
    border: none;
    display: flex;
    justify-content: left !important;
    position: relative;
    top: 30px !important;
    left: 960% !important;
    border-bottom: 2px solid #fb8989;
  }
  .carousel-item {
    height: 100%;
    width: 100%;
    margin-top: -10%;
    padding: 5%;
    /* border-top-width: 50% !important; */
  }
  .maleta {
    font-size: 200%;
  }
  .nuestrosServicios {
    font-size: 190%;
    max-height: 10%;
    max-width: 80%;
  }
}
@media (min-width: 2601px) and (max-width: 3000px) {
  .forma {
    margin-top: 0.8% !important;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  #buscador {
    top: 7.2% !important;
    margin-top: -0.8%;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 250px;
  }
  .pasajero {
    left: 638% !important;
  }
  .swiper-slide-caption {
    margin-top: -10%;
  }
  .idayVuelta {
    background-color: transparent;
    font-size: large;
    color: white;
    border: none;
    display: flex;
    justify-content: left !important;
    position: relative;
    top: 30px !important;
    left: 1138% !important;
    border-bottom: 2px solid #fb8989;
  }
  .carousel-item {
    height: 100%;
    width: 100%;
    margin-top: -12%;
    padding: 5%;
  }
  /* .carousel-item {
    margin-top: 1%;
    height: 300% !important;
    width: 120%;
    padding: 1%;
  } */
  .maleta {
    font-size: 200%;
  }
  .nuestrosServicios {
    font-size: 220%;
    max-height: 10%;
    max-width: 80%;
  }
  .section.contenedor-texto {
    position: relative;
    margin-top: -5% !important;
    left: 10%;
    width: 50%;
  }
}
@media (min-width: 3001px) and (max-width: 4320px) {
  .forma {
    margin-top: 0.9% !important;
  }
  #menuMovil > ul.rd-navbar-nav > li > img {
    display: inline-block !important;
  }
  #buscador {
    top: 7.5% !important;
    margin-top: -1%;
  }
  .swiper-container {
    position: relative;
    top: 20px;
  }
  .inputOrigen {
    width: 250px;
  }
  .pasajero {
    left: 664% !important;
  }
  .swiper-slide-caption {
    margin-top: -20%;
  }
  .carousel-item {
    margin-top: -10%;
    height: 300% !important;

    padding: 4%;
  }
  .section.contenedor-texto {
    position: relative;
    margin-top: -5% !important;
    left: 10%;
    width: 50%;
  }
  .maleta {
    font-size: 200%;
  }
  .container.nuestrosServicios {
    position: relative;
    font-size: 210%;
    max-width: 100%;
    /* padding: 50; */
  }
  .imgServicio {
    width: 15%;
    height: 15%;
  }
}
/*FINALIZA MODO PC*/

.inputOrigen {
  border: 2px solid #ddd8fd;
}

/* .inputOrigen:focus{
  /* border-bottom: 1px solid #fb8989!important; */
/* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px!important;
}*/
.inputOrigen:focus {
  border-bottom: 4px solid #fb8989;
}
.inputOrigen:hover {
  border-bottom: 4px solid #fb8989;
}

.idayVuelta {
  background-color: transparent;
  font-size: large;
  color: white;
  border: none;
  display: flex;
  justify-content: left !important;
  position: relative;
  top: 30px !important;

  border-bottom: 2px solid #fb8989;
}
.pasajero {
  background-color: transparent;
  font-size: large;
  color: white;
  border: none;
  display: flex;
  justify-content: left !important;
  position: relative;
  top: 30px !important;
  left: 50px;
  border-bottom: 2px solid #fb8989;
}

.pantallaTelefono {
  background-color: #009ee2 !important;
}

/* boton ir arriba */
#button-up {
  width: 40px;
  height: 40px;
  background: #fb8989;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  z-index: 150;
}

#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0, 1);
}

.descubre {
  position: relative;
}

.nuestrosServicios {
  margin-top: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.imgServicio {
  margin: 0%;
}

#inputGroupSelect01 :focus {
  border-color: none;
  outline: none;
}
#inputGroupSelect01 option {
  font-weight: normal;
  background-color: white;
  color: #009ee2;
  border-radius: 5px;
}

#inputGroupSelect01 option[selected] {
  background-color: white;
  color: #009ee2;
}

/* efecto cajas de horarios */

/* .boleto:hover {
  position: relative !important;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #f4f4f4;
  transition: all 1 ease !important;
  z-index: -1;
} */

/* .contenedor {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
/* border: 2px solid red;
  max-height: 100%;
  width: 100% !important;
} */

.img1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  height: 500px;
  /* display: flex !important; */
  /*grid-template-columns: 1fr 1fr !important; */
  padding: 0 40px;
  align-items: center;
}

section h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}

section p {
  font-weight: 300;
  margin-bottom: 15px;
}
/* 
section a {
  display: inline-block;
  padding: 7px 0;
  color: #283773;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50px;
  background: #fff;
} */

section:nth-child(1) {
  background-image: linear-gradient(
    -225deg,
    white 40%,
    #009ee2 60%,
    #009ee2 40%
  );
}

section:nth-child(2) {
  background-image: linear-gradient(
    -225deg,
    white 40%,
    #009ee2 60%,
    #009ee2 40%
  );
}

section:nth-child(3) {
  background-image: linear-gradient(
    -225deg,
    white 40%,
    #009ee2 60%,
    #009ee2 40%
  );
}
section:nth-child(4) {
  background-image: linear-gradient(
    -225deg,
    white 40%,
    #009ee2 60%,
    #009ee2 40%
  );
}

.contenedor-texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5%;
  margin-left: 10%;
}

.contenedor-texto img {
  margin-top: 20%;
  width: 75%;
}

/* estilos boton origen */

input {
  border: 1px solid transparent;
  background-color: black;
  padding: 10px;
  font-size: 12px;
}

input[type="submit"] {
  background-color: DodgerBlue;

  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 3px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #d4d4d4;
  color: black;
  font-size: 12px;
}

/*when hovering an item:*/

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.buscar_gps {
  background-color: #009ee2 !important;
  border: DodgerBlue !important;
  width: 90% !important;
}
.buscar_gps:hover {
  border: 1px solid #009ee2 !important;
}
.buscar_gps:focus {
  border: 2px solid #fb8989 !important;
}
